[Desktop Entry]
Name=BugzID
Exec=/home/frew/code/dotfiles/bin/fogbugz-handler %u
Type=Application
Categories=Utility;
StartupNotify=false
MimeType=x-scheme-handler/bugzid;
