[Desktop Entry]
Name=Mutt-ID
Exec=/home/frew/code/dotfiles/bin/email-handler %u
Terminal=true
Type=Application
Categories=Utility;
StartupNotify=false
MimeType=x-scheme-handler/mid;
