[Desktop Entry]
Name=Fogbugz-ID
Exec=/home/frew/code/dotfiles/bin/fogbugz-handler %u
Type=Application
Categories=Utility;
StartupNotify=false
MimeType=x-scheme-handler/fogbugz;
