[submodule "zsh/cxregs-bash-tools"]
   path = zsh/cxregs-bash-tools
   url = git://github.com/cxreg/smartcd.git
[submodule "vimpulse"]
	path = vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = git://github.com/frioux/awesome-vicious
[submodule "awesome/utils"]
	path = awesome/utils
	url = git://github.com/frioux/awesome-utils.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/inkpot"]
	path = vim/bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim/bundle/jshint.vim"]
	path = vim/bundle/jshint.vim
	url = git://github.com/walm/jshint.vim.git
[submodule "zsh/adenosine"]
	path = zsh/adenosine
	url = git://github.com/frioux/app-adenosine
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/vim-textobj-entire"]
	path = vim/bundle/textobj-entire
	url = git://github.com/kana/vim-textobj-entire.git
[submodule "vim/bundle/vim-textobj-underscore"]
	path = vim/bundle/textobj-underscore
	url = git://github.com/lucapette/vim-textobj-underscore.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-textobj-lastpat"]
	path = vim/bundle/textobj-lastpat
	url = git://github.com/kana/vim-textobj-lastpat.git
[submodule "vim/bundle/vim-visual-star-search"]
	path = vim/bundle/visual-star-search
	url = git://github.com/nelstrom/vim-visual-star-search.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/synastic"]
	path = vim/bundle/synastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/airline
	url = git://github.com/bling/vim-airline
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/perl
	url = git://github.com/vim-perl/vim-perl
[submodule "vim/bundle/vinegar"]
	path = vim/bundle/vinegar
	url = git://github.com/tpope/vim-vinegar
[submodule "vim/bundle/goyo"]
	path = vim/bundle/goyo
	url = git://github.com/junegunn/goyo.vim
[submodule "git-hub"]
	path = git-hub
	url = git://github.com/ingydotnet/git-hub
[submodule "vim/bundle/better-whitespace"]
	path = vim/bundle/better-whitespace
	url = gh:ntpeters/vim-better-whitespace
[submodule "zsh/opp"]
	path = zsh/opp
	url = gh:hchbaw/opp.zsh
[submodule "vim/bundle/textobj-between"]
	path = vim/bundle/textobj-between
	url = gh:thinca/vim-textobj-between
[submodule "vim/bundle/splitjoin"]
	path = vim/bundle/splitjoin
	url = gh:AndrewRadev/splitjoin.vim
[submodule "vim/bundle/exchange"]
	path = vim/bundle/exchange
	url = gh:tommcdo/vim-exchange
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = gh:tpope/vim-commentary
[submodule "vim/bundle/textobj-word-column"]
	path = vim/bundle/textobj-word-column
	url = gh:coderifous/textobj-word-column.vim
[submodule "vim/bundle/windowswap"]
	path = vim/bundle/windowswap
	url = gh:wesQ3/vim-windowswap
[submodule "pointless-xcompose"]
	path = pointless-xcompose
	url = gh:rrthomas/pointless-xcompose
[submodule "vim/bundle/matchmaker"]
	path = vim/bundle/matchmaker
	url = gh:qstrahl/vim-matchmaker
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = gh:airblade/vim-gitgutter
[submodule "vim/bundle/neocomplete"]
	path = vim/bundle-lua/neocomplete
	url = gh:Shougo/neocomplete.vim
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle-python/ultisnips
	url = git://github.com/sirver/ultisnips
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = gh:ctrlpvim/ctrlp.vim
[submodule "vim/bundle/projectionist"]
	path = vim/bundle/projectionist
	url = git://github.com/tpope/vim-projectionist
[submodule "vim/bundle/haystack"]
	path = vim/bundle/haystack
	url = git://github.com/tpope/vim-haystack
[submodule "vim/bundle/dispatch"]
	path = vim/bundle/dispatch
	url = git://github.com/tpope/vim-dispatch
[submodule "vim/bundle-python/editorconfig"]
	path = vim/bundle-python/editorconfig
	url = git://github.com/editorconfig/editorconfig-vim
[submodule "vim/bundle-nvim/deoplete"]
	path = vim/bundle-nvim/deoplete
	url = git://github.com/Shougo/deoplete.nvim
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git://github.com/tpope/vim-eunuch
[submodule "vim/bundle/terminus"]
	path = vim/bundle/terminus
	url = git://github.com/wincent/terminus
[submodule "vim/bundle/quick-scope"]
	path = vim/bundle/quick-scope
	url = git://github.com/unblevable/quick-scope
