ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r
ControlPersist 24h
PasswordAuthentication no
Ciphers blowfish-cbc
Compression yes
VisualHostKey yes

host catagits # git
     user catagits
     hostname git.shadowcat.co.uk

host ci
     user frew

host cesium
     hostname cs
     user frew
     ForwardAgent yes

host cs # git
     user gitolite

host dbsrgits # git
     user dbsrgits
     hostname git.shadowcat.co.uk

host fl
     user Administrator
     hostname frewlynx
     ForwardAgent yes

host flu
     user Administrator
     hostname frewlynxuser
     ForwardAgent yes

host gh # git
     user git
     hostname github.com

host gitmo # git
     user gitmo
     hostname git.shadowcat.co.uk

host irc
     user frew
     hostname warpedreality.org

host lfl
     user Administrator
     hostname frewlynx2
     ForwardAgent yes

host p5sagit # git
     user p5sagit
     hostname git.shadowcat.co.uk

host paste
     user frew_paste
     hostname p.afoolishmanifesto.com

host sc
     user arthurs
     hostname jules.scsys.co.uk

host scpubgit # git
     user scpubgit
     hostname git.shadowcat.co.uk

host w
     user frew
     hostname w
     ForwardAgent yes

host lap
     user frew
     hostname frew.chickenkiller.com
     port 2222
     ForwardAgent yes

host nw
     user frew
     hostname noosphere-work.chickenkiller.com
     port 2322
     ForwardAgent yes

