snippet fmatter
---
title: $1
date: ${2:`date +%Y-%m-%dT%H:%M:%S`}
tags: $3
guid: "https://blog.afoolishmanifesto.com/posts/$1"
---
$0
endsnippet
snippet link
[${1:human}](${2:http://...}) $0
endsnippet
